.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--violet-bright);
  object-fit: cover;
}

.avatar-label {
  font-size: 14px;
}

.avatar-change {}
